# Chapter 2

## Section 1

Let's say that we have an unfair dice and a fair one. In particular, the second dice has:

$$ P(\{1\}) = P(\{2\}) = P(\{3\}) = 1/9 $$
$$ P(\{4\}) = P(\{5\}) = P(\{6\}) = 2/9 $$

We can use Pandas instead of Python dictionaries to solve this.

In [5]:
# Import the Pandas module.
from pandas import DataFrame

# Create the data frame object.
d = DataFrame(index = [(i, j) for i in range(1, 7) for j in range(1, 7)],
              columns = ['sm', 'd1', 'd2', 'pd1', 'pd2', 'p'])

In [11]:
# Fill out dice faces.
d.d1 = [i[0] for i in d.index]
d.d2 = [i[1] for i in d.index]

In [12]:
 # Compute the sum of the die in the sm column.
d.sm = map(sum, d.index)
d.head(5)

,sm,d1,d2,pd1,pd2,p
"(1, 1)",<map object at 0x00000171D90D3D68>,1,1,0.111111,0.166667,0.0185185
"(1, 2)",<map object at 0x00000171D90D3D68>,1,2,0.111111,0.166667,0.0185185
"(1, 3)",<map object at 0x00000171D90D3D68>,1,3,0.111111,0.166667,0.0185185
"(1, 4)",<map object at 0x00000171D90D3D68>,1,4,0.111111,0.166667,0.0185185
"(1, 5)",<map object at 0x00000171D90D3D68>,1,5,0.111111,0.166667,0.0185185

In [13]:
 # Compute the sum of the die in the sm column.
d.sm = map(sum, d.index)
d.head(5)

,sm,d1,d2,pd1,pd2,p
"(1, 1)",<map object at 0x00000171D912A828>,1,1,0.111111,0.166667,0.0185185
"(1, 2)",<map object at 0x00000171D912A828>,1,2,0.111111,0.166667,0.0185185
"(1, 3)",<map object at 0x00000171D912A828>,1,3,0.111111,0.166667,0.0185185
"(1, 4)",<map object at 0x00000171D912A828>,1,4,0.111111,0.166667,0.0185185
"(1, 5)",<map object at 0x00000171D912A828>,1,5,0.111111,0.166667,0.0185185

In [14]:
# Fill out the probabilities for each face of the unfair die
# (d1) and the fair die (d2).
d.loc[d.d1 <= 3, 'pd1'] = 1.0 / 9.0
d.loc[d.d1 > 3, 'pd1'] = 2.0 / 9.0
d.pd2 = 1.0 / 6.0
d.head(5)

,sm,d1,d2,pd1,pd2,p
"(1, 1)",<map object at 0x00000171D912A828>,1,1,0.111111,0.166667,0.0185185
"(1, 2)",<map object at 0x00000171D912A828>,1,2,0.111111,0.166667,0.0185185
"(1, 3)",<map object at 0x00000171D912A828>,1,3,0.111111,0.166667,0.0185185
"(1, 4)",<map object at 0x00000171D912A828>,1,4,0.111111,0.166667,0.0185185
"(1, 5)",<map object at 0x00000171D912A828>,1,5,0.111111,0.166667,0.0185185

In [15]:
# Finally, compute the joint probabilities for the sum of the
# shown faces.
d.p = d.pd1 * d.pd2
d.head(5)

,sm,d1,d2,pd1,pd2,p
"(1, 1)",<map object at 0x00000171D912A828>,1,1,0.111111,0.166667,0.0185185
"(1, 2)",<map object at 0x00000171D912A828>,1,2,0.111111,0.166667,0.0185185
"(1, 3)",<map object at 0x00000171D912A828>,1,3,0.111111,0.166667,0.0185185
"(1, 4)",<map object at 0x00000171D912A828>,1,4,0.111111,0.166667,0.0185185
"(1, 5)",<map object at 0x00000171D912A828>,1,5,0.111111,0.166667,0.0185185

In [16]:
# Compute the density of all of the dice outcomes.
density = d.groupby('sm')['p'].sum()
density

sm
<map object at 0x00000171D912A828>    1.0
Name: p, dtype: float64